body {
  background-image: url("../../images/diagmonds.png");
  background-color: #affab1;
}

.my-button {
  background:#3CB371;
}

.my-button:hover {background: 	#98FB98;}

.link { color:	#32CD32; }

.link:hover { color: #20B2AA; }

h1 {
  color: #2E8B57
}
.nav-color{
  background:white;}

@media (max-width:600px){
.nav-color{background:#3CB371;}
}

.container {
  margin-bottom: 40px;
}