body {
  background: #f6f6f6;
}

.my-button {
  background: #17a2b8;
}

.nav-color{
  background:white;}

@media (max-width:600px){
.nav-color{background:#17a2b8;}
}

@media (max-width:1000px){
.my-button-position {
  position: absolute;
  left: 100px;}
}

